/* Blog.css */
.blog-container {
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
}

.blog-details-container {
    display: flex;
    flex-direction: column;
}

.blog-content-wrapper {
    display: flex;
    flex-direction: column;
    /* Default to column direction */
}

.blog-image {
    width: 100%;
    /* Take full width on mobile */
    height: auto;
    margin-bottom: 20px;
}

.blog-text {
    flex: 1 1 auto;
    min-width: 300px;
}

@media (min-width: 768px) {
    .blog-content-wrapper {
        flex-direction: row;
        /* Switch to row direction on larger screens */
    }

    .blog-image {
        width: 40%;
        height: auto;
        /* Limit width on larger screens */
        margin-right: 20px;
        margin-bottom: 0;
        float: left;
        /* Float image to the left */
    }
}