.container {
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.card {
    margin-top: 10px;
}

.card-header {
    cursor: pointer;
}

.card-body {
    background-color: #f8f9fa;
}

.accordion-button:not(.collapsed) {
    background-color: rgb(233, 233, 233);
}